:root{
    --clrback:rgb(163, 232, 241);
    --clrproda:rgb(131, 224, 245);

}
body{
    background:var(--clrback);
}

h1{
    position: relative;
    display: inline;
    border-left: 8px solid red;
    border-right: 8px solid red;
    border-radius: 30%;
    right: -250px;

}
.quant{
    background:linear-gradient(rgb(171, 227, 234),rgb(220, 236, 220));
}
.container{
    margin: 30PX auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 40px;
}
.container .articl{
    border: 2px solid wheat ;
    margin: 6PX;
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding-bottom: 6px;
    border-radius: 20px;
        
}
.container .one , .container .tow , .container .three ,.container .four , .container .five ,.container .sixe{
    background: var(--clrproda);
}

img{
    width: 220PX;
    height: 160px;
    border-radius: 20px;
}
.container  #box{
position: relative;
    initial-value: none;
    background: red;
    top:-134px ;
    left:10PX
}
#number , #prixTota , #prixUnit {width: 39PX;}
